# Configuration file

####################
# block
####################

block {
    I:BorderedQuartz=503
    I:DimensionalBridgeStabilizer=502
    I:EmptyDBS=505
    I:EnderInfusedMetal=504
    I:Frame=500
    I:Portal=501
}


####################
# item
####################

item {
    I:BlankPortalModule=25116
    I:BlankUpgrade=25115
    I:Glasses=25120
    I:LocationCard=25119
    I:Manual=25114
    I:Nanobrush=25121
    I:PortalModule=25118
    I:Upgrade=25117
    I:Wrench=25122
}


####################
# misc
####################

misc {
    B:ForceShowFrameOverlays=false
}


####################
# overrides
####################

overrides {
    B:DisableParticles=false
    B:DisableSounds=false
}


####################
# portal
####################

portal {
    I:ActivePortalsPerRow=2
    B:FasterPortalCooldown=false
    B:PortalsDestroyBlocks=true
}


####################
# power
####################

power {
    D:DBSPowerStorageMultiplier=1.0
    D:PowerMultiplier=1.0
    B:RequirePower=true
}


