# Configuration file

####################
# block
####################

block {
    I:biomeCore=1615
    I:brewingStand=1603
    I:corruptedEnergy1=1630
    I:corruptedEnergy2=1631
    I:crossedDecoration=1616
    I:decompositionTable=1613
    I:dungeonPuzzle=1622
    I:endFlower=1605
    I:endFlowerPot=1620
    I:endPowder=1602
    I:endTerrain=1614
    I:enderGoo=1621
    I:endermanHead=1608
    I:endermanSpawner=1612
    I:energyCluster=1629
    I:energyExtractionTable=1628
    I:enhancedTNT=1633
    I:essenceAltar=1601
    I:igneousRock=1604
    I:infestationCauldron=1623
    I:instabilityOrbOre=1618
    I:laserBeam=1610
    I:obsidainStairs=1609
    I:obsidianEnd=1600
    I:obsidianSpecial=1607
    I:obsidianSpecialGlow=1611
    I:ravagedBrick=1623
    I:soulCharm=1624
    I:sphalerite=1632
    I:spookyLeaves=1619
    I:spookyLog=1617
    I:stardustOre=1625
    I:stardustPlaced=1626
    I:templeEndPortal=1606
}


####################
# general
####################

general {
    I:achievementStartId=3500
    B:enableEndermapocalypse=true
    B:enableMusic=true
    B:enableTempleCaller=true
    B:enableUpdateNotifications=false
    B:gooBattlesWater=true
    B:overpoweredMobs=false
}


####################
# item
####################

item {
    I:achievementLorePages=31657
    I:altarNexus=31687
    I:biomeCompass=31675
    I:brewingStand=31685
    I:bucketEnderGoo=31663
    I:corporealMirageOrb=31669
    I:dragonEssence=31686
    I:drySplinter=31673
    I:endPowder=31683
    I:enderCompendium=31661
    I:enderGem=31677
    I:enderPearl=31684
    I:endermanHead=31664
    I:endermanRelicRepaired=31665
    I:endermanRelicShattered=31666
    I:endoplasm=31670
    I:gemFragment=31678
    I:ghostTalisman=31671
    I:igneousRock=31681
    I:infestationRemedy=31672
    I:infestedBatWing=31674
    I:instabilityOrb=31680
    I:knowledgeFragment=31660
    I:lorePage=31688
    I:minionContainer=31667
    I:musicDisk=31662
    I:number=31658
    I:potionOfInstability=31679
    I:silverfishBlood=31675
    I:spatialDashGem=31678
    I:spawnEggs=31659
    I:spectralWand=31668
    I:stardust=31682
    I:templeCaller=31676
}


